
.amenities{
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex-basis: 50%;
  width: 200px;
  margin-bottom: 10px;
  display: flex;
}

.item img{
    margin-right: 10px;
}

.item div{
    align-items: center;
}